* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #12171c;
    background-size: cover;
    width:  100%;

}

.nav-main{
    display: block;
    font-weight: lighter;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;


}

.nav-top {
    display: flex;
    margin: 0;
    padding: 0 1rem;
    position: relative;
    height: 100%;
    height: 70px;

}


.nav-left { 
    display: block;
    float: left;
    line-height: 70px;

}


.logo-crest {
    display: block;
    margin-right: 2rem;
    margin-left:0.5rem;
    margin-top:0.5rem;
    width: 8rem;
    height: 80px;
    padding: 0;
  
}



#nav-items{
    display: flex;
    -webkit-box-align: center;
    flex: 1 0 auto;
    float: left;

}



.nav-bucket {
    display: inline-block;
    position: relative;
    height: 100%;
    transition: color 0.25s, background 0.25s;
    vertical-align: top;
    margin-right: .3rem;
    margin-left: .2rem;
    

}
.nav-bucket a{
    text-decoration: none;
    padding:.5em;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 70px;
    cursor: pointer;



}

.nav-bucket:hover{
    background-color: #12171c;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 2px #ae8525(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.nav-bucket:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ae8525;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-bucket:hover::before, .nav-bucket:focus:before, .nav-bucket:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ae8525;
    outline: #fdce1f solid .5px;
    padding: 6px 11px;
    margin-left: 19rem;
    margin-right: 1rem;
    margin-top: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    font-weight: 100;
    border: none;
    cursor: pointer;
    
  }

button a {
    color: #f4f3f2;
    text-decoration: none;
    cursor: pointer;

}
   
button:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid .5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

button:hover:before, button:focus:before, button:active:before {
    top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}


.button-buy-destiny2 {
    display: block;
    font-size: 13px;
    height: 35px;
    width: 135px;
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 1rem;
    letter-spacing: .01cm;
    font-weight: lighter;
    
}

.buyDestiny2 {
    font-weight: 100;
    line-height: 70px;
    align-self: center;
    height: 35px;
    margin-left: auto;
    margin-right: 1rem;

}

button:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #f5f5f5;
    transition: 0.25s;

}

.featured-content {
    display: flex;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    
     
    
}

video {
    background-image: url(https://www.bungie.net/pubassets/pkgs/127/127601/Eris_Takeover_L.mp4?cv=3983621215&av=2662561782);
    background-size: cover;
    opacity: 1;
    top: 0px;
    width: 100%;
    height: 800%;
    left: 0px;
    z-index: 1;

}


#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }
 #overlay img{
    position:absolute;
    left:0;top:0;
    width: 350px;
    height: 70px;
    pointer-events:none;
    z-index:2;
    margin-left: 12rem;
    margin-top: 2rem;
  }

#underline-one {
      width: 350px;
      margin-top: 7.5rem;
      margin-left: 12rem;
      color:#292e32;
      
  }

.text {
    width: 350px;
    margin-left: 12rem;
    font-size: 27px;
    font-weight: 540;
    text-align: center;
}
.on-the-moon {
      
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
  }


.available-now a{
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    color:#f4f3f2;
    cursor: pointer;
}

.availableNow {
    font-weight: 100;
    line-height: 70px;
    align-self: center;
    height: 50px;
    margin-left: auto;
    margin-right: 1rem;
    font-weight: lighter;

}

.overlay-button  button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ae8525;
    padding: 6px 11px;
    margin-left: 18rem;
    margin-right: 1rem;
    margin-top: .2rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-color: #ae8525;
    height: 40px;
    width: 150px;
    letter-spacing:.02cm;
    font-weight: lighter;
    cursor: pointer;
  }


.availableNow button:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid .5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.availableNow  button:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #f5f5f5;
    transition: 0.25s;
}

.available-now button:hover:before, .available-now button:focus:before, .available-now button:active:before {
    top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

#underline-two{
    color:#292e32;
    opacity: .3;
}
.featured-content {
    width: 100%;
    margin-left: 2rem;
}

.little-box {

    background-color: #f5f5f5;
    height: 20px;
    width: 80px;
    margin-top: -.5rem;
    
    
}

.featured-title {
    margin-top: .2rem;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;

}

.news-grid {
    width: 50%;
    height: 500px;
    display: block;
}
.this-week{
    width: 50%;
    height: 79%; 
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: -4.7rem;
    background-image: url(https://www.bungie.net/pubassets/pkgs/128/128159/FrontpageBanner.jpg?cv=3983621215&av=2662561782);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: -27rem;
    display: inline-block;
    position: absolute;
    z-index: 1;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.this-week:hover, .this-week:focus, .this-week:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.this-week-text {
    width: 100%;
    z-index: 2;
    border-radius: 0 0 4px 4px;
    padding: 5em 2em 2em;
    margin-top: 32.5%;
    background: linear-gradient(to bottom, rgba(24,28,37,0) 0%, rgba(24,28,37,0.8) 100%);
}

#thisWeekHeader {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f5f5;
    font-size: 20px;
    margin-top: 6%;
}
#thisWeekSubtext {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f5f5;
    font-size: 13px;
    margin-top: -6.7rem;
    margin-left: 2rem;
    opacity: .8;
}

#underline-three{
    color: #292e32;
    width: 340px;
    margin-top: -.45rem;
    margin-left: 2rem;
    opacity: .3;
}

.cross-save {
    width: 22%;
    height: 80%;
    margin-top: 1.8rem;
    margin-left: -3.7rem;
    display: inline-block;
    border-radius: 10px;
    background-image: url(https://www.bungie.net/pubassets/pkgs/126/126612/cross_save_branding_01.jpg?cv=3983621215&av=2662561782);
    background-size: 250%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.cross-save:hover, .cross-save:focus, .cross-save:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

#crossSave {
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    margin-top: 20rem;
    margin-left: 2rem;
}

#underline-four {
    color: #43474f;
    width: 130px;
    margin-top: -3.3rem;
    margin-left: 2rem;
    opacity: .3;
}

.news-right {
    width: 25%;
    height: 500px;
    display: flexbox;
    flex-direction: column;
    z-index: 1;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
}



.new-light {
    width: 80%;
    height: 40%;
    order: 1;
    position: absolute;
    background-image: url(https://www.bungie.net/pubassets/pkgs/124/124577/JB_GM_New_Light_KeyArt_1-1_2.jpg?cv=3983621215&av=2662561782);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 1rem;
    z-index: 1;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.new-light:hover, .news-light:focus, .news-light:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}


.new-light-text {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 0 0 4px 4px;
    padding: 5em 2em 2em;
    background: linear-gradient(to bottom, rgba(24,28,37,0) 0%, rgba(24,28,37,0.8) 100%);
}

#newLight {
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 2.5rem;
}

#underline-five {
    color: #43474f;
    width: 200px;
    margin-top: 7rem;
    margin-left: 2rem;
    opacity: 1;
}

.on-pc {
    width: 80%;
    height: 37.2%;
    order: 2;
    position: absolute;
    background-image: url(https://www.bungie.net/pubassets/pkgs/124/124575/Steam_Front.jpg?cv=3983621215&av=2662561782);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-left: 1rem;
    margin-top: 15rem;
    z-index: 1;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.on-pc:hover, .on-pc:focus, .on-pc:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

#onPC {
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 2.5rem;
}

.on-pc-text {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 0 0 4px 4px;
    padding: 5em 2em 2em;
    background: linear-gradient(to bottom, rgba(24,28,37,0) 0%, rgba(24,28,37,0.8) 100%);
}

#underline-six {
    color: #43474f;
    width: 175px;
    margin-top: 7rem;
    margin-left: 2rem;
    opacity: 1;
}

#underline-seven{
    color:#292e32;
    opacity: .3;
}